.auth {
  width: 75%;
  max-width: 400px;
  border-radius: 6px solid $color-bright-blue;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  text-align: center;
  height: fit-content;
  h1 {
    text-align: center;
    color: $color-dark-blue;
  }
}
.form__control {
  label {
    display: block;
    color: $color-bright-blue;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  input,
  select {
    font: inherit;
    color: $color-bright-blue;
    border-radius: 4px;
    border: 1px solid $color-light-blue;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    outline: none;
    &:focus,
    &:active {
      border: 1px solid $color-bright-blue;
    }
    .transparent {
      background-color: transparent;
    }
  }
  span {
    font-size: 1rem;
  }
}

.form__control,
.form__action {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__action {
  margin-bottom: 3rem;
}

.button {
  cursor: pointer;
  font: inherit;
  color: $color-white;
  background-color: $color-bright-blue;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
  &:hover {
    background-color: $color-dark-blue;
    border-color: $color-dark-blue;
  }
}
