.homepage {
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
  height: 300px;
  background-image: url('./assets/thought-catalog-mmWqrsjZ4Lw-unsplash.jpg');
  background-size: cover;
  background-position: center;
  @include flex-center();
  flex-direction: column;
  row-gap: 20px;
  .homepage__title {
    color: $color-white;
  }
  .homepage__form {
    display: flex;
    column-gap: 15px;
    align-items: center;
    font-size: 1.2em;
    .form__control,
    .form__action {
      margin: 0;
    }
    .button {
      background-color: $color-dark-blue;
      color: $color-white;
      padding: 15px 20px;
      border-radius: 10%;
      cursor: pointer;
      border: none;
      line-height: 1;
      &:hover {
        color: #d9d9d9;
        opacity: 0.8;
        -webkit-box-shadow: 7px 7px 11px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 7px 7px 11px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 7px 7px 11px 0px rgba(34, 60, 80, 0.2);
      }
    }
  }
}
