$color-dark: #00171f;
$color-dark-blue: #003459;
$color-blue: #007ea7;
$color-bright-blue: #00a8e8;
$color-light-blue: #bbdefb;
$color-light-grey: #f0efeb;
$color-light: #caf0f8;
$color-white: #ffffff;

$color-dark-violet: #240046;
$color-violet: #5a189a;
$color-bright-violet: #7b2cbf;
$color-light-violet: #c77dff;
$color-light: #e0aaff;
