.book-details {
  max-width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 30px;
}
.book-details .book-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-details .book-cover img {
  min-height: 250px;
  max-height: 400px;
}
.book-details .book-description {
  width: 60%;
  flex-basis: 60%;
  text-align: left;
  padding: 20px;
}
.book-details input[type=checkbox] + label {
  right: calc(50% - 10px);
  bottom: 6px;
}
.book-details .icon {
  width: 0px;
}

.book-summary {
  display: flex;
  row-gap: 10px;
  flex-basis: 20%;
  flex-direction: column;
}
.book-summary:hover {
  cursor: pointer;
  background-color: #f0efeb;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}
.book-summary img {
  height: 180px;
}
.book-summary .book-description {
  margin: 0 10px;
}
.book-summary input[type=checkbox] + label {
  right: 6px;
  bottom: 6px;
}

.book-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: stretch;
}

.search-results {
  margin: 20px auto;
}

.card {
  position: relative;
  border: 2px solid #f0efeb;
  overflow: hidden;
}
.card .book-image {
  background-color: #f0efeb;
}
.card .book-description {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.card .book-description .book-title {
  color: #003459;
}
.card .book-description .italic {
  font-style: italic;
}
.card img {
  object-fit: contain;
}

.auth {
  width: 75%;
  max-width: 400px;
  border-radius: 6px solid #00a8e8;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  text-align: center;
  height: fit-content;
}
.auth h1 {
  text-align: center;
  color: #003459;
}

.form__control label {
  display: block;
  color: #00a8e8;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.form__control input,
.form__control select {
  font: inherit;
  color: #00a8e8;
  border-radius: 4px;
  border: 1px solid #bbdefb;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  outline: none;
}
.form__control input:focus, .form__control input:active,
.form__control select:focus,
.form__control select:active {
  border: 1px solid #00a8e8;
}
.form__control input .transparent,
.form__control select .transparent {
  background-color: transparent;
}
.form__control span {
  font-size: 1rem;
}

.form__control,
.form__action {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__action {
  margin-bottom: 3rem;
}

.button {
  cursor: pointer;
  font: inherit;
  color: #ffffff;
  background-color: #00a8e8;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}
.button:hover {
  background-color: #003459;
  border-color: #003459;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin: 0 auto;
  padding: 5px;
  background-color: #f0efeb;
}
.search-form select,
.search-form input,
.search-form button {
  height: 40px;
}
.search-form .form__control,
.search-form .form__action {
  margin: 0;
}
.search-form select {
  min-width: 150px;
  cursor: pointer;
}
.search-form input {
  min-width: 200px;
}

.icon {
  display: relative;
  height: 20px;
}
.icon svg {
  cursor: pointer;
  width: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}
.icon svg.favourite {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  fill: rgb(190, 17, 17);
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
}

.history-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-basis: 25%;
  border: 2px solid #f0efeb;
  font-size: 1.6rem;
  padding: 1em;
  cursor: pointer;
}

.header {
  position: fixed;
  z-index: 200;
  top: 0;
  height: 100px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #007ea7;
  color: #ffffff;
  -webkit-box-shadow: 0px 7px 11px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 7px 11px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 7px 11px 0px rgba(34, 60, 80, 0.2);
}

.flex-2-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px;
}

.logo:hover {
  color: #bbdefb;
  cursor: pointer;
}

.logo h1 {
  margin: 0;
}

.navigation ul {
  display: flex;
  column-gap: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
}
.navigation ul li a:hover {
  cursor: pointer;
  color: #bbdefb;
}
.navigation ul li a .favourites-badge {
  border: 1px solid #ffffff;
  border-radius: 20%;
  width: 38px;
  height: 27px;
  margin-left: 1rem;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  height: 100%;
}
.navigation ul li a .animated {
  animation: bump 500ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1.3);
  }
}
.wrapper {
  max-width: 1280px;
  min-width: 100vw;
  margin: 0 auto;
}

.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #007ea7;
  color: #ffffff;
}

.info {
  margin: 5rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00171f;
  font-size: 3rem;
}

.details {
  margin-top: 50px;
}

.favourites {
  width: 90%;
  margin: 0 auto;
}

.history {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.history .button {
  align-self: flex-start;
}
.history ul {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.homepage {
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
  height: 300px;
  background-image: url("./assets/thought-catalog-mmWqrsjZ4Lw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.homepage .homepage__title {
  color: #ffffff;
}
.homepage .homepage__form {
  display: flex;
  column-gap: 15px;
  align-items: center;
  font-size: 1.2em;
}
.homepage .homepage__form .form__control,
.homepage .homepage__form .form__action {
  margin: 0;
}
.homepage .homepage__form .button {
  background-color: #003459;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 10%;
  cursor: pointer;
  border: none;
  line-height: 1;
}
.homepage .homepage__form .button:hover {
  color: #d9d9d9;
  opacity: 0.8;
  -webkit-box-shadow: 7px 7px 11px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 7px 7px 11px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 7px 7px 11px 0px rgba(34, 60, 80, 0.2);
}

.search-page {
  width: 90%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  margin: 0;
  font-size: 10px;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 1.6rem;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: calc(100vh - 200px - 50px);
  margin: 150px 0 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  margin: 0;
}

img {
  border-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/*# sourceMappingURL=App.css.map */
