.book-details {
  width: 90vw;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 30px;
  .book-cover {
    @include flex-center;
    img {
      min-height: 250px;
      max-height: 400px;
    }
  }
  .book-description {
    text-align: left;
    padding: 20px;
  }
  input[type='checkbox'] + label {
    right: calc(50% - 10px);
    bottom: 6px;
  }
  .icon {
    width: 0px;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
  }
}
