.header {
  position: fixed;
  z-index: 200;
  top: 0;
  height: 100px;
  left: 0;
  right: 0;
  width: 100%;

  color: $color-white;
  -webkit-box-shadow: 0px 7px 11px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 7px 11px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 7px 11px 0px rgba(34, 60, 80, 0.2);
}

.header.ocean {
  background-color: $color-blue;
  .logo {
    color: $color-light-blue;
  }
  a {
    &:hover {
      color: $color-light-blue;
    }
  }
}

header.violet {
  background-color: $color-violet;
  .logo {
    color: $color-light-violet;
  }
  a {
    &:hover {
      color: $color-light-violet;
    }
  }
}

.flex-2-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px;
}

.logo:hover {
  cursor: pointer;
}

.logo h1 {
  margin: 0;
}

.navigation {
  ul {
    display: flex;
    column-gap: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      @include flex-center;
      a {
        text-decoration: none;
        color: inherit;
        font-size: 1.2em;
        &:hover {
          cursor: pointer;
        }
        .favourites-badge {
          border: 1px solid $color-white;
          border-radius: 20%;
          width: 38px;
          height: 27px;
          margin-left: 1rem;
          text-align: center;
          padding: 5px 10px;
          text-decoration: none;
          display: inline-block;
          height: 100%;
        }
        .animated {
          animation: bump 500ms ease-out;
        }
      }
    }
  }
}

.navigation {
  ul {
    li {
      a {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1.3);
  }
}
